{% extends 'base.html.twig' %}

{% block body %}
    <h3>Edit Advert</h3>

    {{ form_start(form) }}
    {{ form_row(form.title) }}
    {{ form_row(form.description) }}
    {{ form_row(form.expiryDate) }}
    {{ form_row(form.category) }}

    <div class="col-sm-8 col-sm-offset-2" id="photo_list" data-prototype="{{ form_widget(form.photos.vars.prototype)|e('html_attr') }}">
        {% for row in form.photos %}
            <div class="panel panel-warning">
                <div class="panel-heading">
                    <img src="{{ asset('uploads/images/' ~ row.vars.value.name) }}">
                </div>
                <div class="panel-body" style="display: none"><!-- hide file selection button -->
                    {{ form_row(row) }}
                </div>
            </div>
        {% endfor %}
    </div>
    {{ form_end(form) }}

    <div>
        <a class="btn btn-warning" href="{{ path('advert_show', { 'id': advert.id }) }}">Cancel</a>
        <input type="submit" class="btn btn-primary" value="Save" />
    </div>
{% endblock %}
