{% extends 'base.html.twig' %}

{% block body %}

    <h3>My Ads</h3>

    {% for advert in adverts %}
        {% if app.user.id == advert.user.id %}
            <div class="well">
                <p><strong>{{ advert.title }}</strong></p>
                <p><i class="fa fa-hourglass"></i> {{ advert.expiryDate|date('d-m-Y') }}</p>
                <p>{{ advert.description }}</p>
                <p>
                    <a class="btn btn-success" href="{{ path('advert_show', { 'id': advert.id }) }}">Show</a>
                    <a class="btn btn-warning" href="{{ path('advert_edit', { 'id': advert.id }) }}">Edit</a>
                </p>
            </div>
        {% endif %}
    {% endfor %}

{% endblock %}
