{% extends 'base.html.twig' %}

{% block body %}

    <h3>My Ads</h3>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Photo</th>
            <th>Expirydate</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for advert in adverts %}
            {% if app.user.id == advert.user.id %}
                <tr>
                    <td>{{ advert.title }}</td>
                    <td>{{ advert.description }}</td>
                    <td><a href="{{ asset('uploads/images/' ~ advert.photo) }}">View photo</a></td>
                    <td>{% if advert.expiryDate %}{{ advert.expiryDate|date('Y-m-d') }}{% endif %}</td>
                    <td>
                        <a href="{{ path('advert_show', { 'id': advert.id }) }}">Show</a><br />
                        <a href="{{ path('advert_edit', { 'id': advert.id }) }}">Edit</a>
                    </td>
                </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
