{% extends 'base.html.twig' %}

{% block body %}

    <h1>Advert</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ advert.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ advert.title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ advert.description }}</td>
            </tr>
            <tr>
                <th>Photo</th>
                <td><a href="{{ asset('uploads/images/' ~ advert.photo) }}">View photo</a></td>
            </tr>
            <tr>
                <th>Expirydate</th>
                <td>{% if advert.expiryDate %}{{ advert.expiryDate|date('Y-m-d') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('category_show', {'id': advert.category.id}) }}">Back to {{ advert.category.name }}</a>
        </li>
        <li>
            <a href="{{ path('comment_new', {'advert' : advert.id}) }}">Add Comment</a>
        </li>
        {% if is_granted("ROLE_USER") %}
        {% if app.user.id == advert.user.id %}
        <li>
            <a href="{{ path('advert_edit', { 'id': advert.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
        {% endif %}
        {% endif %}
    </ul>

    <h3>Comments</h3>
    {% if advert.comments %}
        {% for comment in advert.comments %}
            <p>{{ comment.text }}</p>
        {% endfor %}
    {% endif %}

{% endblock %}
