{% extends 'base.html.twig' %}

{% block body %}
<div class="row">
    <h3>Advert</h3>

    <table class="table table-striped">
        <thead>
        <tr>
        </tr>
        </thead>
        <tbody>
            <tr>
                <th>Title</th>
                <td>{{ advert.title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ advert.description }}</td>
            </tr>
            <tr>
                <th>Photo</th>
                <td><img src="{{ asset('uploads/images/' ~ advert.photo) }}"></td>
            </tr>
            <tr>
                <th>Expiry Date</th>
                <td>{% if advert.expiryDate %}{{ advert.expiryDate|date('Y-m-d') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul class="list-group">
        <li class="list-group-item">
            <a href="{{ path('category_show', {'id': advert.category.id}) }}">Back to {{ advert.category.name }}</a>
        </li>
        <li class="list-group-item">
            <a href="{{ path('comment_new', {'advert' : advert.id}) }}">Add Comment</a>
        </li>
        {% if is_granted("ROLE_USER") %}
        {% if app.user.id == advert.user.id %}
        <li class="list-group-item">
            <a href="{{ path('advert_edit', { 'id': advert.id }) }}">Edit</a>
        </li>
        <li class="list-group-item">
            {{ form_start(delete_form) }}
                <input type="submit" class="btn btn-primary" value="Delete">
            {{ form_end(delete_form) }}
        </li>
        {% endif %}
        {% endif %}
    </ul>
    <div>
        <a href="#0" id="comment_wrap_toggle">Add Comment</a>
    </div>
    <div id="comment_wrap" style="display: none;">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" class="btn btn-primary" value="Add" />
        {{ form_end(form) }}
    </div>

    <div>
    <h3>Comments</h3>
    {% if advert.comments %}
        <table class="table table-striped">
        {% for comment in advert.comments %}
            <tr>
                <td>{{ comment.date|date('Y-m-d') }}</td>
                <td>{{ comment.text }}</td>
            </tr>
        {% endfor %}
        </table>
    {% endif %}
    </div>
</div>
{% endblock %}
{% block javascripts %}
    <script>
    $(document).ready(function($)
    {
        $("#comment_wrap_toggle").click(function()
        {
            $("#comment_wrap").slideToggle(300);

            if ($("#comment_wrap_toggle").text() == "Add Comment")
            {
                $("#comment_wrap_toggle").html("Hide")
            }
            else
            {
                $("#comment_wrap_toggle").text("Add Comment")
            }
        });
    });
    </script>
{% endblock %}