{% extends 'base.html.twig' %}

{% block body %}
<div class="row">

    <h3>{{ advert.title }}</h3>
    <p><i class="fa fa-hourglass"></i> {{ advert.expiryDate|date('d-m-Y') }}</p>
    <p><i class="fa fa-phone"></i> {{ advert.user.phone }}</p>
    <p>{{ advert.description }}</p>

    <p>{% if advert.expiryDate %}{% endif %}</p>


    {% for photo in advert.photos %}
        <a class="fancybox" data-fancybox="gallery" href="{{ asset('uploads/images/' ~ photo.name) }}"><img src="{{ asset('uploads/images/' ~ photo.name) }}"></a>
    {% endfor %}

    <p><a href="{{ path('category_show', {'id': advert.category.id}) }}">Back to {{ advert.category.name }}</a></p>
    {% if is_granted("ROLE_USER") %}
        {% if app.user.id == advert.user.id %}
            <p>
                <span style="float: left; margin-right: 5px;">
                    <a class="btn btn-warning" href="{{ path('advert_edit', { 'id': advert.id }) }}">Edit</a>
                </span>
                <span style="float: left;">
                    {{ form_start(delete_form) }}
                        <input type="submit" class="btn btn-danger" value="Delete">
                    {{ form_end(delete_form) }}
                </span>
            </p>
        {% endif %}
    {% endif %}

    <h3>Comments</h3>

    <p>
        <a class="btn btn-default" href="#0" id="comment_wrap_toggle">Add Comment</a>
    </p>
    <div id="comment_wrap" style="display: none;">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" class="btn btn-primary" value="Add" />
        {{ form_end(form) }}
    </div>

    {% if advert.comments %}
        {% for comment in advert.comments %}
            <div class="well">
                <p><strong>{{ comment.date|date('Y-m-d') }} by
                    {% if comment.userId == null %}
                        anonymous
                    {% else %}
                        {{ comment.user }}
                    {% endif %}
                    </strong></p>
                <p>{{ comment.text }}</p>
            </div>
        {% endfor %}
    {% endif %}

</div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/js/new_comment.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $(".fancybox").fancybox();
        });
    </script>
{% endblock %}