{% extends 'base.html.twig' %}

{% block body %}

    <div><a href="{{ path('advert_index') }}">Show All Ads</a></div>
    <div><a href="{{ path('advert_my_ads') }}">My Ads</a></div>

    <h1>Advert</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ advert.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ advert.title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ advert.description }}</td>
            </tr>
            <tr>
                <th>Photo</th>
                <td><a href="{{ asset('uploads/images/' ~ advert.photo) }}">View photo</a></td>
            </tr>
            <tr>
                <th>Photooldname</th>
                <td>{{ advert.photoOldName }}</td>
            </tr>
            <tr>
                <th>Expirydate</th>
                <td>{% if advert.expiryDate %}{{ advert.expiryDate|date('Y-m-d') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('advert_index') }}">Back to the list</a>
        </li>
        {% if app.user.id == advert.user.id %}
        <li>
            <a href="{{ path('advert_edit', { 'id': advert.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
        {% endif %}
    </ul>
{% endblock %}
