{% trans_default_domain 'FOSUserBundle' %}
{% extends 'base.html.twig' %}

{% block body %}

{{ form_start(form, { 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'form-advert' } }) }}
    {{ form_row(form.email) }}
    {{ form_row(form.phone) }}
    {{ form_row(form.avatar, {'attr': {'accept': 'image/*'}}) }}
    {{ form_row(form.current_password) }}

    <div class="top">
        <a class="btn btn-warning" href="{{ path('fos_user_profile_show') }}">
            <i class="fa fa-times"></i> Cancel
        </a>
        <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> Save</button>
    </div>
{{ form_end(form) }}

{% endblock %}