{% extends 'base.html.twig' %}

{% block body %}
    <h3>Edit profile</h3>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit" class="btn btn-primary" value="Save" />
    {{ form_end(edit_form) }}

    <ul class="list-group">
        <li class="list-group-item">
            Delete profile
        </li>
        <li class="list-group-item">
            {{ form_start(delete_form) }}
                <input type="submit" class="btn btn-primary" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
