{% extends 'base.html.twig' %}

{% block body %}

    <h1>{{ category.name }}</h1>

    <table>
        <tbody>
            {% for advert in category.adverts %}
                {% if date(advert.expiryDate) > date() %}
            <tr>
                <td><a href="{{ path('advert_show', {'id': advert.id}) }}">{{ advert.title }}</a></td>
            </tr>
                {% else %}
                    {% if is_granted("ROLE_ADMIN") or (advert.user.id == app.user.id) %}
                        <tr>
                            <td><a href="{{ path('advert_show', {'id': advert.id}) }}">{{ advert.title }}</a></td>
                        </tr>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('category_index') }}">Back to Categories</a>
        </li>
    {% if is_granted('ROLE_ADMIN') %}
        <li>
            <a href="{{ path('category_edit', { 'id': category.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    {% endif %}
    </ul>
{% endblock %}
